@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=VT323&display=swap');


:root {
	--font-serif: 'Merriweather', serif;
	--font-sans: 'Rubik', sans-serif;
	--font-mono: 'VT323', monospace;
	--font-condensed: 'Oswald', sans-serif;
	--dark-bg: #263238;
	--dark-fg: #eceff1;
	--dark-em: mediumvioletred;
	--dark-button-hover: #541b3e;
	--dark-button-active: #3a0d2a;
}


html,
body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	background: var(--dark-bg);
	color: var(--dark-fg);
	font-family: var(--font-serif);
}

.flex {
	display: flex;

	&.center {
		justify-content: center;
		align-items: center;
	}
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	&.center {
		text-align: center;
	}
}

.hide {
	display: none !important;
}

input,
textarea,
button,
select,
a {
	-webkit-tap-highlight-color: transparent;
}

body {
	overflow: hidden;
}

a.home-page {
	color: var(--dark-fg);
}

.app {
	z-index: 10;
	position: fixed;
	width: calc(100% - 8px);
	height: calc(100% - 8px);
	overflow-x: hidden;
	overflow-y: auto;
	margin: 4px;

	>h1 {
		text-align: center;

		.title {
			color: var(--dark-em);
		}
	}
}

.loading-spinner {
	position: fixed;
	z-index: 999;
	bottom: 0;
	right: 0;
	margin: 16px;
	border: 4px solid var(--dark-bg);
	border-radius: 50%;
	border-top: 4px solid var(--dark-em);
	width: 16px;
	height: 16px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	/* Spin 4 times */
	50% {
		transform: rotate(1440deg);
	}

	/* Spin 2 times */
	100% {
		transform: rotate(2160deg);
	}
}

.popup {
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	backdrop-filter: blur(5px) brightness(0.75);
	display: flex;
	align-items: center;
	justify-content: center;

	a {
		text-decoration: none;
		color: #12383d;
		background: #27906c;
		padding: 0 4px;
		border-radius: 2px;
	}

	pre.message {
		margin: 0;
		background: #00c9e412;
		color: #5fa7c8;
		padding: 8px;
		border-radius: 4px;
		position: absolute;
		max-width: calc(100% - 32px);
		overflow: auto;
		max-height: 350px;
		border: solid 2px;
	}

	&[type='modal'] pre.message {
		min-width: 100%;
		padding: 0;
		text-align: center;
		border: none;
		background: none;
	}


	&.error pre.message {
		background: #ff000012;
		color: #ff6363;

		a {
			background: #df504f;
			color: #400c0f;
		}
	}

}

.page {
	margin: 4px auto;
	width: min(640px, calc(100% - 8px));
	min-height: calc(100% - 164px);
	border-radius: 8px;
	backdrop-filter: blur(4px);
	background: #080a0b17;
	border: solid 1px #324249;
	margin-bottom: 64px;
}

.settings {
	position: absolute;
	top: 0;
	right: 0;
	margin: 8px;
	z-index: 15;

	.icon {
		transition: rotate .3s;
		cursor: pointer;
	}

	.icon:hover {
		rotate: 180deg;
	}
}



.settings-page {
	display: flex;
	width: min(600px, 100% - 32px);
	margin: auto;
	border-radius: 4px;
	min-height: 300px;
	overflow: hidden;
	border: solid 1px #263f4b;

	.tabs {
		width: 172px;
	}

	.tab-content {
		flex: 1;
		background: #263f4b;
	}

	.tab {
		color: gray;
		padding: 8px;
		margin: 4px;
		border-radius: 4px;
		cursor: pointer;

		&.selected {
			color: white;
			background: #263238;
		}

		&:hover {
			color: white;
		}
	}
}


button {

	border-radius: 4px;
	background: transparent;
	border: solid 1px;
	color: var(--dark-em);
	transition: filter .1s;
	font-size: 24px;
	padding: 8px 16px;
	margin: 4px;
	font-family: var(--font-sans);
	position: relative;
	overflow: hidden;
	border-color: var(--dark-em);
	cursor: pointer;
	transition: all .1s, background .3s ease-out;

	.icon {
		margin-right: 8px;
	}

	&::before {
		position: absolute;
		content: '';
		top: 50%;
		left: 50%;
		translate: -50% -50%;
		width: 0px;
		height: 0px;
		background: var(--dark-button-hover);
		border-radius: 100em;
		transition: all .3s ease-out;
		z-index: -1;
	}

	&:hover {
		background: var(--dark-button-hover);
		border-color: var(--dark-button-hover);

		&::before {
			width: 200px;
			height: 200px;
		}
	}

	&:active {
		background: var(--dark-button-active);
		border-color: var(--dark-button-active);
		color: var(--dark-button-hover);

		&::before {
			width: 0px;
			height: 0px;
		}
	}
}

.icon {
	font-size: 24px;
}

.lock {
	pointer-events: none;
	opacity: 0.5;
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: var(--dark-em);
	border-radius: 4px;
}

a {
	color: var(--dark-em);
	text-decoration: none;
}